## Python Practice 2

## Numbers

### Question 1
Insert the correct syntax to convert x into a floating point number.

In [1]:
x = 5

In [2]:
x

5

In [3]:
type(x)

int

In [4]:
float(x)

5.0

## Lists

### Question 2
Print the second item in the fruits list.

In [5]:
fruits = ["apple", "banana", "cherry"]

In [6]:
fruits

['apple', 'banana', 'cherry']

In [7]:
type(fruits)

list

In [8]:
fruits[1]

'banana'

### Question 3
Change the value from "apple" to "kiwi", in the fruits list.

In [9]:
fruits = ["apple", "banana", "cherry"]

In [10]:
fruits

['apple', 'banana', 'cherry']

In [11]:
x=fruits[0] = "kiwi"

In [12]:
x

'kiwi'

### Question 4
Use the append method to add "orange" to the fruits list.

In [13]:
fruits = ["apple", "banana", "cherry"]

In [14]:
fruits=fruits.append("orange")

In [15]:
fruits

In [16]:
fruits

### Question 5
Add "orange" to the fruits set.

In [17]:
fruits = {"apple", "banana", "cherry"}

In [18]:
fruits

{'apple', 'banana', 'cherry'}

### Question 6
Use the correct method to add multiple items (more_fruits) to the fruits set.

In [19]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes", "apple", "apple"]

In [20]:
fruits.update(more_fruits)

In [21]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

### Question 7
Use the get method to print the value of the "model" key of the car dictionary.

In [22]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [23]:
type(car)

dict

In [24]:
car.get("model")

'Mustang'

### Question 8
Remove "model" from the car dictionary.

In [25]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [26]:
car.pop("model")

'Mustang'

### Question 9
Print "Hello World" if a is greater than b.

In [27]:
a = 50
b = 10

In [28]:
if a>b:
    print("Hellow World")

Hellow World

### Question 10
Print "Yes" if a is equal to b, otherwise print "No".

In [29]:
a = 50
b = 10

In [30]:
if a!=b:
    print("Hellow World")

Hellow World

### Question 11
Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [31]:
a = 50
b = 10

In [41]:
if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

2

### Question 12
Print "Hello" if a is equal to b, or if c is equal to d.

In [34]:
a = 50
b = 10
c = 20
d = 20

In [35]:
if a == b and c == d:
    print ("Hellow")

### Question 13
Loop through the items in the fruits list.

In [36]:
fruits = ["apple", "banana", "cherry"]

In [37]:
for x in fruits :
    print (x)

apple
banana
cherry

### Question 14
Use the range function to loop through a code set 6 times.

In [38]:
for x in range(6):
  print(x)

0
1
2
3
4
5

### Question 15
Exit the loop when x is "banana".

In [ ]:
fruits = ["apple", "banana", "cherry"]

In [39]:
for x in fruits:
  if x == "banana":
   break 
  print(x)

apple

### Question 16
Create a function that takes 2 string as input 'firstname' & 'lastname' and returns a single concatenated string back, add spaces between names

In [43]:
x = "firstname"

In [44]:
y = "lastname"

In [45]:
z = x + " " + y
print(z)

firstname lastname

In [46]:
def function(x,y):
    print(x+' '+y)

In [48]:
function('Ajay','Kumar')

Ajay Kumar